// Domain Prices
.domain-prices {
	padding-top: 40px;
    padding-bottom: 40px;
    h1 {
        text-align: center;
        color: $dark-grey;
        font-weight: $bold;
        margin-bottom: 20px;
    }
}

// Domain Services
.domain-services {
	padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    h1 {
        color: $dark-grey;
        font-weight: $bold;
        margin-bottom: 20px;
    }
    .tabs {
        .image {
            @extend .col-lg-3, .col-md-3, .col-sm-4, .col-xs-12;
            text-align: center;
        }
        .post {
            @extend .col-lg-8, .col-md-8, .col-sm-8, .col-xs-12, .col-lg-offset-1, .col-md-offset-1;
            text-align: left;
            color: #616466;
            h2 {
                font-weight: $bold;
            }
            p {
                font-family: $montserrat;
                color: #8C949F;
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    .tabs .image img {
        width: 150px;
        height: 150px;
    }
}