// Colors
$white: #fff;
$black: #000;
$light-grey: #f9fafa;
$grey: #e5e5e5;
$dark-grey: #1d1d1d;
$light-blue: #549af0;
$blue: #307ad5;
$dark-blue: #225595;
$darker-blue: #133155;
$light-green: #33e0c1;
$green: #0abc9c;
$dark-green: #077c67;
$light-red: #e46659;
$red: #e74c3c;
$dark-red: #cd4435;

// Color Theme
$main-color: $blue;
$main-light-color: $light-blue;
$main-dark-color: $dark-blue;
$border-color: $grey;


