// Weights
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Fonts
$open-sans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;

// Medias
@media (max-width: $screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: $screen-sm) {
    body{font-size: 14px;}
}